doctype html
//
  |
     __       __       __       __
    /  |     /  |     /  |     /  |
   /_  |    /_  |    /_  |    /_  |
     | |      | |      | |      | |
     | |      | |      | |      | |
     | |      | |      | |      | |
     |_| [_]  |_| [_]  |_| [_]  |_|

        Cloudflare DNS resolver

html(lang="")
  head
    title= title
    meta(charset="utf-8")
    meta(property="og:title" content=title)
    meta(name="twitter:title" content=title)

    meta(name="author" content="Cloudflare")
    meta(name="generator" content="Cloudflare")

    meta(name="twitter:site" content="@cloudflare")
    meta(name="twitter:creator" content="@cloudflare")

    meta(name="twitter:card" content="summary")
    meta(http-equiv="X-UA-Compatible" content="IE=edge, chrome=1")

    meta(name="description" content=description)
    meta(name="og:description" content=description)
    meta(name="twitter:description" content=description)

    meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")

    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700|Roboto+Slab" rel="stylesheet")

    script(
      defer
      src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js"
      integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l"
      crossorigin="anonymous")
    script(
      defer
      src="https://use.fontawesome.com/releases/v5.0.8/js/brands.js"
      integrity="sha384-sCI3dTBIJuqT6AwL++zH7qL8ZdKaHpxU43dDt9SyOzimtQ9eyRhkG3B7KMl6AO19"
      crossorigin="anonymous")
    script(
      defer
      src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js"
      integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c"
      crossorigin="anonymous")
  body
    main
      section(data-section="hero")
        .hero-background
          .slideshow(data-ref="slideshow" data-active-slide="1")
            .background-slide(data-slide="1")
            .background-slide(data-slide="2")
            .background-slide(data-slide="3")
            .background-slide(data-slide="4")
            .background-slide(data-slide="5")

        .language-selector
          .selector-label
            i.fas.fa-globe
            span.chosen-language English
            i.fas.fa-caret-down

          .dropdown
            span.language(data-locale='en-US') English
            span.language(data-locale='es') Español
            span.language(data-locale='fr') Français
            span.language(data-locale='de') Deutsch
            span.language(data-locale='zh-Hans') 简体中文
            span.language(data-locale='zh-Hant') 中國傳統的
            span.language(data-locale='ja-jp') 日本語

        .hero-copy.light-on-dark
          h1 1.1.1.1
          h2 A better internet on all your devices.
          h3 Setup in minutes. Completely free, forever.

      section(data-section="explanation")
        h1 What is DNS?

        p
          | Your Internet service provider use a tool called <abbr title="Domain Name Server">"DNS"</abbr> to make browsing the web possible. DNS is like phonebook, routing the sites you browse to the right place.

        p
          | Unfortunately, by default, DNS is usually slow and insecure. Your ISP, and anyone else listening in on the Internet, can see every site you visit and every app you use — even if their content is encrypted. Creepily, some DNS providers sell data about your Internet activity or use it target you with ads. We think that's gross. If you do too, now there's an alternative.

        h2 Introducing <strong>1.1.1.1</strong>

        .features
          .feature
            h1 Fast

            p
              | While our first principle is privacy, speed remains 1.1.1.1’s killer feature. We’ve built 1.1.1.1 to be the Internet’s fastest DNS directory. Don’t take our word for it. The independent DNS monitor DNSPerf ranks 1.1.1.1 the fastest DNS service in the world. We’re currently (as of 4/1/2018) __% faster than second place, which means we’re at least __% faster than whatever you’re using today.

          .feature
            h1 Safe

            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

          .feature
            h1 Private
            p
              | We will never sell your data or use it to target ads. Period. Our logs are purged of all identifing information within 24 hours. And we’re not just saying that. We’ve retained _________ to audit our systems annually to ensure that we’re doing what we say and publish their report publicly. Frankly, we don’t want to know what you do on the Internet—it’s none of our business—and we’ve taken the technical steps to ensure we can’t.

      section(data-section="share")
        .accent-background

        h1.light-on-dark #1dot1dot1dot1
        h2.light-on-dark Fast, safe, and secure internet is here.

        .share-buttons
          a.share-button(href="" target="_blank")
            i.fab.fa-twitter

          a.share-button(href="" target="_blank")
            i.fab.fa-facebook

          a.share-button(href="mailto:?subject%3DFaster%20and%20safer%20internet%20in%205%20minutes%2C%20Cloudflare's%201.1.1.1&body%3DCheck%20it%20out!%20https%3A%2F%2F1.1.1.1" target="_blank")
            i.fas.fa-envelope


      section(data-section="setup" data-platform="mac-os")
        h1 Setup in 5 minutes

        p Setting up <strong>1.1.1.1</strong> requires no technical skills or special software.

        .instruction-picker
          .choice
            i.fab.fa-apple
            span.label MacOS
          .choice
            i.fab.fa-linux
            span.label Linux
          .choice
            i.fab.fa-windows
            span.label Windows
        .instructions(data-platform="mac-os")
        .instructions(data-platform="linux")
        .instructions(data-platform="windows")

      section(data-section="faq")
        :marked
          # FAQ

          ## Who's behind this?

          1.1.1.1 is a partnership between Cloudflare and APNIC. Cloudflare runs one of the world’s largest, fastest networks. APNIC is a non-profit organization managing IP address allocation for the Asia Pacific and Oceania regions. Cloudflare had the network. APNIC had the IP address (1.1.1.1). Both of us were motivated by a mission to help build a better Internet. You can read more about each organization’s motivations on our respective posts: Cloudflare Blog / APNIC Blog.

          ## Why does DNS matter?

          The Domain Name System (DNS) protocol is an important part of the web's infrastructure, serving as the Internet's phone book: every time you visit a website, your computer performs a DNS lookup. Complex pages often require multiple DNS lookups before they start loading, so your computer may be performing hundreds of lookups a day.

          ## I want to build 1.1.1.1 into my browser/router/app/ISP?

          The future of DNS is encrypted and private. If you believe the previous sentence, and you’re making a browser, router, app, or run a privacy-focused ISP (that exists, right? right?) we want to talk with you. Moving beyond a legacy 1985-era protocol that acts as a vampire on every Internet user’s privacy is going to require a coordinated effort. Our mission is to help build a better Internet and we need your help. Here’s where to get in touch with the right people on our team:

      footer.site-footer
        nav.links
          a(href="https://cloudflare.com" target="_blank") © Cloudflare Inc.
          a(href="https://www.cloudflare.com/terms/" target="_blank") Terms Of Use
          a(href="https://www.cloudflare.com/security-policy/" target="_blank") Privacy & Security Policy
          a(href="https://www.cloudflare.com/abuse/" target="_blank") Trust and Safety


