section(data-section="faq")
  .content
    h1.collapsed-top-margin!=htmlWebpackPlugin.options.t('faq.whosBehindThis')

    p!=htmlWebpackPlugin.options.t('faq.partnership')
    p!=htmlWebpackPlugin.options.t('faq.network')
    p!=htmlWebpackPlugin.options.t('faq.networkContinued')

    .logos(style="text-align: center;")
      img(src="/media/cloudflare-apnic.png" width="370" style="max-width: 100%; margin: 1em 0")

    h1!=htmlWebpackPlugin.options.t('faq.canIintegrate')
    p!=htmlWebpackPlugin.options.t('faq.integrationInfo')
    p!=htmlWebpackPlugin.options.t('faq.integrationDocs')
