mixin render(input)
  if input.children
    #{input.tag}
      each child in input.children
        +render(child)
  else if input.content
    #{input.tag}!=input.content

section#setup-instructions(data-section="setup" data-ref="setup")
  h1.collapsed-top-margin(data-ref="deviceLabel" data-label="Setup on {{device}}")

  p
    | Setting up <strong>1.1.1.1</strong> takes two minutes and requires no technical skill or special software.
    | Even if you’re a computer novice, pick your device below for an easy-to-follow setup guide.

  .instruction-picker.desktop-only(data-ref="instructionPicker")
    button.button.choice(type="button" data-platform="iphone")
      i.fas.fa-mobile
      span.label iPhone
    button.button.choice(type="button" data-platform="android")
      i.fab.fa-android
      span.label Android
    button.button.choice(type="button" data-platform="mac-os")
      i.fab.fa-apple
      span.label MacOS
    button.button.choice(type="button" data-platform="windows")
      i.fab.fa-windows
      span.label Windows
    button.button.choice(type="button" data-platform="linux")
      i.fab.fa-linux
      span.label Linux
    button.button.choice(type="button" data-platform="router")
      i.fas.fa-sitemap
      span.label Router (Advanced)

  .instructions(data-platform="mac-os")
    ol
      each instruction in htmlWebpackPlugin.options.t('instructions')['mac-os'].steps
        +render(instruction)

    //- video.instruction-video(
    //-   src="~media/instructions/instructions-mac.mp4"
    //-   controls
    //-   autoplay
    //-   muted
    //-   loop)

  .instructions(data-platform="iphone")
    ol
      each instruction in htmlWebpackPlugin.options.t('instructions').iphone.steps
        +render(instruction)

  .instructions(data-platform="linux")
    p!=htmlWebpackPlugin.options.t('instructions').linux.notice

    ol
      each instruction in htmlWebpackPlugin.options.t('instructions').linux.steps
        +render(instruction)

  .instructions(data-platform="windows")
    ol
      each instruction in htmlWebpackPlugin.options.t('instructions').windows.steps
        +render(instruction)

  .instructions(data-platform="android")
    .message
      p.collapsed-margins.message-content!=htmlWebpackPlugin.options.t('instructions').android.message
    ol
      each instruction in htmlWebpackPlugin.options.t('instructions').router.steps
        +render(instruction)

  .instructions(data-platform="router")
    .message.center
      p.collapsed-margins.message-content!=htmlWebpackPlugin.options.t('instructions').router.message

    ol
      each instruction in htmlWebpackPlugin.options.t('instructions').router.steps
        +render(instruction)

  p.questions-link!=htmlWebpackPlugin.options.t('instructions').questions
