section(data-section="share")
  .accent-background

  h2.light-on-dark Share a faster, privacy-first Internet with your friends.

  .share-buttons
    a.button.share-button(
      target="_blank"
      href=formatURL({
        host: 'https://twitter.com/intent/tweet',
        query: {
          text: 'Fast, safe, and private internet is here. Setup the 1.1.1.1 DNS Resolver in less than 5 minutes',
          hashtags: '#1dot1dot1dot1',
          url: 'https://1.1.1.1'
        }
      })
    )
      i.fab.fa-twitter

    a.button.share-button(
      target="_blank"
      href=formatURL({
        host: 'https://www.facebook.com/sharer/sharer.php',
        query: {
          u: 'https://1.1.1.1'
        }
      }))
      i.fab.fa-facebook

    a.button.share-button(
      target="_blank"
      href=formatURL({
        host: 'mailto:',
        query: {
          subject: 'Browse a faster, more private internet — 1.1.1.1 DNS Resolver',
          body: '“1.1.1.1” makes internet browsing faster and more private. Check out https://1.1.1.1 for more info and how to setup your device in less than 5 minutes!'
        }
      }))
      i.fas.fa-envelope
